{% macro render_table(id, names, rows) %}
    <table id={{id}} class="table table-sm table-bordered table-striped table-hover">
      <thead>
        {% for name in names %}
          <th scope="col">{{name}}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% if rows %}
          {% for row in rows %}
            <tr>
              {% for value in row %}
                <td>{{value}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        {% endif %} 
      </tbody>
    </table>
{% endmacro %}
